[submodule "external/pulsemodel"]
	path = external/pulsemodel
	url = https://github.com/gillesdegottex/pulsemodel.git
[submodule "external/Lasagne"]
	path = external/Lasagne
	url = https://github.com/Lasagne/Lasagne.git
[submodule "external/pfs"]
	path = external/pfs
	url = git@github.com:gillesdegottex/pfs.git
